* {
    margin: 0;
    padding: 0;
}
.body{
    overflow: hidden !important;
    
}

.information {
    background-color: #2a2a4d;
    border-bottom: 4px solid rgb(245, 245, 46);
}

.info {
    height: 50px;
    margin-left: 350px;

}

.info li a {
    text-decoration: none;
    margin: 10px;
    margin-top: 20px;
    color: rgb(6, 8, 87);
    font-weight: bold;
    font-size: 12px;
    transition: 1s;
}

.btn {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.info a:hover {
    transform: scale(1.3);
}

.navber {
    display: flex;
}

.best-1 {
    display: none;
    justify-content: center;
    position: absolute;
    padding: 10px;
    background-color: azure;
    width: 100%;
    left: 0;

}

.best-1 a {
    text-wrap: nowrap;
}

.test {
    list-style: none;
}

.test li {
    padding: 6px;
    margin: 10px;
}

.test li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: lighter;
}

.bird-1 {
    width: 300px;
    margin-left: 70%;
}

.bird {
    width: 300px;
    margin-left: 75%;

}

.best-all:hover .best-1 {
    display: flex;
    flex: 1;
    z-index: 1;
}

.test li:hover a {
    margin-left: 10px;
    color: #f28e0c;
}

.test-1 img {
    width: 100%;
    height: 400px;
}

.test-2 {
    color: white;
    font-weight: bold;
}

.car_1 {
    width: 100%;

}
.item-all{
     width: 90%;
    padding: 10px;
    margin-left: 40px;
    margin-top: 50px;
  
}
.item-one{
     padding: 20px;
    margin: 10px;
    /* height: 40%px; */
    /* width: 50%;  */
}
.mt{
    border: solid 2px red;
}
.item-one img{
 width: 60%;
 height: 60%;
 margin-left: 50px; 
 margin-top: 20px;
}
.item-two{
    font-size: 14px;
     padding: 20px;
     padding-bottom: 58px;
    width: 100%;
    height: 35%;
    margin-top: 10px;
    text-align: center;
}

.img_1 {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 50px;
    height: 350px;
}
.img_item p {
    text-align: center;
    font-weight: bolder;
    margin-top: 5px;
    width: 100%;
}

.img_item {
    width: 90%;
    height: 350px;
    margin-left: 100px;
    padding: 7px;
    text-align: center;
}

.img_item img {
    width: 100%;
    height: 250px;
    padding: 20px;
    /* margin-left: 70px; */
    /* border: solid 30px rgb(243, 244, 245); */
}

.back img {
    width: 100%;
    height: 400px;
}

.BTN_item::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #f77f0e;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 2s;
    border-radius: 20px;
}

.BTN_item:hover::after {
    width: 0;
}

.nam {
    width: 97%;
    margin-left: 15px;
}

.past {
    list-style: none;
}

.past li {
    padding: 3px;
    margin: 5px;
}

.past li a {
    text-decoration: none;
    color: #726b6bea;
    font-weight: lighter;
    font-size: 13px;
}

.past_1 {
    background-color: rgb(14, 13, 65);
}
.mt{
    border: solid 2px red;
}



/* <!---> */




@media screen and (max-width:1000px) {
    .navber {
        flex-direction: column;
    }

    .best-1 {
        width: 100%;
    }

    .flower-item img {
        width: 100%;
        height: 400px;
    }

    .test-1 img {
        width: 100%
    }
    .item-all{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-right: 0;
        margin-left: 0;
        margin-top: 20px;
        padding: 0;
    }
    .item-one{
        padding: 0;
        margin: 0;
        width: 60%;
    }
    .item-two{
        width: 70%;
        /* margin-left: 20px; */
        padding: 5px;
    }
    .ROW_item {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .img_1 {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
        width: 50%;
        height: inherit;
        margin-right: 0;
        margin-top: 20px;
        margin-left: 100px;
        }

    .img_item {
        margin-top: 50px;
        width: 90%;
        margin: 0;


    }
    .img_item img{
        width: 80%;
    }
    .img_item p{
        font-size: 12px;
    }

    .back img {
        width: 100%;
        height: 1080px;
    }

    .dhaka {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .COL_ITEM p,
    h2 {
        width: 90%;

    }

    .COL_iTEM iframe {
        width: 90%;
    }

    .nam {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
        margin: 0;
        width: 90%;
        align-items: center;
    }
    .future {
        flex-direction: column;
        width: 90%;
        height: 50%;
        /* align-items: center; */
    }

    .past_1 {
        width: 100%;
    }

    .best-1 {
        flex-direction: column;
        flex: 1;
        width: 80%;
        margin-left: 10px;
        overflow: scroll;
    }

    .nav-item {
        border: solid 1px white;
        padding: 3px;
    }

    .bird-1 {
        width: 100%;
        margin-left: 0;
    }

    .bird {
        width: 100%;
        margin-left: 0;
    }

}